*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

*:focus {
    outline: none;
}

html {
    font-size: 62.5%;
    /* 100% = 16px (root font size) 10/16 = 62.5% */
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #555;
    overflow-x: hidden;
    font-size: $m-size;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

ul {
    list-style: none;
    display: flex;
    margin-bottom: 2rem;
}

ul li a:link,
ul li a:visited {
    text-decoration: none;
    margin-right: 1rem;
    display: inline-block;
    border-bottom: .1rem solid transparent;
    padding: .2rem .6rem;
    color: grey;
    transition: all .2s;
}

ul li a:hover,
ul li a:active {
    border-bottom: .1rem solid grey;
}

.is-active {
    font-weight: bold;
}