.option {
    display: flex;
    justify-content: space-between;
    padding: $m-size;
    border-bottom: .1rem solid lighten($light-blue, 10%);
}

.option__text {
    color: $white;
    font-weight: 500;
    font-size: 2rem;
    word-break: break-all;
}